@using FsmWorkFlowUI.Components
@page "/"

<PageTitle>Index</PageTitle>

<h1>Fsm WorkFlow Experiments</h1>

<FsmWorkFlow @ref=myWorkFlow>
    <FsmStep Name="StepOne" Status="@FsmStepStatus.ToDo">
        <FsmEvent On="Whistle" Then="StepTwo"/>
        <FsmEvent On="Scream" Then="StepThree"/>
        <FsmStepBody>
            <p>I am step 1</p>
            <button @onclick=@(() => Fire("Whistle"))>Whistle</button>
            <button @onclick=@(() => Fire("Scream"))>Scream</button>
        </FsmStepBody>
    </FsmStep>
    <FsmStep Name="StepTwo" Status="@FsmStepStatus.InProgress">
        <FsmEvent On="Whistle" Then="StepOne"/>
        <FsmEvent On="Scream" Then="StepThree"/>
        <FsmStepBody>
            <p>I be step 2</p>
            <button @onclick=@(() => Fire("Whistle"))>Whistle</button>
            <button @onclick=@(() => Fire("Scream"))>Scream</button>
        </FsmStepBody>
    </FsmStep>
    <FsmStep Name="StepThree" Status="@FsmStepStatus.Done">
        <FsmEvent On="Bang" Then="StepTwo" />
        <FsmStepBody>
            <p>Step 3 I am</p>
            <button @onclick=@(() => Fire("Bang"))>Bang</button>
        </FsmStepBody>
    </FsmStep>
</FsmWorkFlow>
<button @onclick="@showTree">Show tree</button>
<p>@treeContent</p>
@code
{
    FsmWorkFlow? myWorkFlow;
    string treeContent = "";
    public void showTree()
    {
        treeContent = "";
        foreach(FsmStep step in myWorkFlow.States)
        {
            treeContent += step.Name + ": ";
            foreach (FsmEvent e in step.Transitions)
                treeContent += e.On + "->" + e.Then + " ";
        }
    }
    public void Fire(string s)
    => myWorkFlow?.Fire(s);
}