@using FsmWorkFlowUI.Components
@using FsmWorkFlowUI.Data
@inject IAuthService authService

@page "/"
<h3>Simple Login Example</h3>
<p>
    This page sets up the simple login workflow as
    described in the README.md documentation file.
</p>
<FsmWorkFlow Model="@model" @ref=workFlow>
    <FsmStep Name="Please login" Status="@UserNameStatus()">
        <FsmEvent On="Login" When="@UserNameTyped" Then="Password?" />
        <FsmEvent On="Login" Do="@NeedAUserName" />
        <FsmStepBody>
            <p>Please type your login name</p>
            <EditForm Model="@model" OnSubmit=@ToPasswordStep>
                <div class="form-group">
                    <label for="username">Login name</label>
                    <InputText @bind-Value="model.UserName" id="username" />
                </div>
                <input type="submit" class="btn btn-primary" value="Next" />
            </EditForm>
            <p style="color:red;">@error</p>
        </FsmStepBody>
    </FsmStep>
    <FsmStep Name="Password?" Status="@PasswordStatus()">
        <FsmEvent On="Login" When="@PasswordValid" Do="@IssueAuthToken" Then="Logged in options" />
        <FsmEvent On="Login" Do="@ShowLoginError" Then="Please login" />
        <FsmStepBody>
            <LoginPassword WorkFlow="@workFlow" @bind-Pass="@model.Password" />
        </FsmStepBody>
    </FsmStep>
    <FsmStep Name="Logged in options" Status="@LoggedInStatus()">
        <FsmEvent On="Logout" Do="@RescindToken" Then="Please login" />
        <FsmStepBody>
            <p>We are successfully logged in! Our authentication token is: @model.AuthToken </p>
            <button class="btn btn-primary"
                    @onclick=@(()=>workFlow?.Fire("Logout"))>
                Logout
            </button>
        </FsmStepBody>
    </FsmStep>
</FsmWorkFlow>

@code {
    // Variables used in the markup
    LoginModel? model;
    FsmWorkFlow? workFlow;
    string error = string.Empty;
    protected override void OnInitialized()
    {
        model = authService.CreateLoginModel();
    }

    // Transition functions
    void ToPasswordStep() => workFlow?.Fire("Login");

    // Guard functions
    bool PasswordValid() => authService.PasswordValid(model?.UserName, model?.Password);
    bool UserNameTyped() => !string.IsNullOrWhiteSpace(model?.UserName);

    // Action functions
    void IssueAuthToken() { model.AuthToken = authService.IssueKey(model?.UserName, model?.Password); }
    void ShowLoginError() { error = "Name or password invalid"; }
    void NeedAUserName() { error = "Please provide a valid user name"; }
    void RescindToken() { model = authService.CreateLoginModel(); error = string.Empty; }

    // Status functions
    FsmStepStatus UserNameStatus() => UserNameTyped() ? FsmStepStatus.Done : FsmStepStatus.InProgress;
    FsmStepStatus PasswordStatus() => PasswordValid() ? FsmStepStatus.Done : FsmStepStatus.InProgress;
    FsmStepStatus LoggedInStatus() => model.AuthToken != 0 ? FsmStepStatus.Done : FsmStepStatus.Blocked;
}
