@using FsmWorkFlowUI.Components
@inject FsmWorkFlowUI.Data.IAuthService authService

@page "/simplelogin"
<h3>Simple Login Example</h3>
<p>This page sets up the simple login workflow as 
    described in the README.md documentation file.</p>
<FsmWorkFlow Model="@authToken" @ref=workFlow>
    <FsmStep Name="Please login"> 
        <FsmEvent On="Login" When="@UserNameTyped" Then="Password?" />
        <FsmEvent On="Login" Do="@NeedAUserName" />
    </FsmStep>
    <FsmStep Name="Password?">
        <FsmEvent On="Login" When="@PasswordValid" Do="@IssueAuthToken" Then="Logged in options" />
        <FsmEvent On="Login" Do="@ShowLoginError" Then = "Please login" />
    </FsmStep>
    <FsmStep Name="Logged in options"> 
        <FsmEvent On="Logout" Do="@RescindToken" Then="Please login" />
    </FsmStep>
</FsmWorkFlow>
@code {
    string? authToken = null;
    FsmWorkFlow? workFlow;
    string? name;
    string? password;
    string? error;

    // Guard functions
    bool PasswordValid() => name == password; // Ugh! Godd job it's only a demo!
    bool UserNameTyped() => !string.IsNullOrWhiteSpace(name);

    // Action functions
    void IssueAuthToken() { authToken = "XYZZY"; }
    void ShowLoginError() { error = "Name or password invalid";  }
    void NeedAUserName() { error = "Please provide a valid user name"; }
    void RescindToken() { authToken = null; }
}
